<div id="sidebar">
  <!-- GRAVATAR HERE -->

  <!-- <img src=<%=@image%>> -->
  <br>
  <h1 id="profile_title"><%=@user.name%>'s Profile</h1>

  <p><%= @user.name %>'s stats: </p>
  tweets: <%= @user.tweets.count %>
  <a href="/user/<%=@user.name%>/followings">following:</a> <%= @user.followees.count %>
  <a href="/user/<%=@user.name%>/followers">followers:</a> <%= @user.followers.count %>
  <br>
  <% if @user.name != session[:username] %>
    <% if User.find_by(name: session[:username]).followees.include?(@user) %>
      <form name="input" action="/unfollow/<%=@user.name%>" method="post">
        <input type="submit" value="Unfollow">
      </form>
    <% else %>
      <form name="input" action="/follow/<%=@user.name%>" method="post">
        <input type="submit" value="Follow">
      </form>
    <% end %>
  <% end %>
</div>
<% if signed_in? == @user.name %>
  <form id="new_tweet" name="input" action="/user/<%=@user.name%>/tweets/new" method="post">
      New Tweet: <input type="text" name="content" placeholder="Text here"><input type="submit" value="Post">
    </form>
<% end %>

<div class='tweet_container'>

  <h1><%=@user.name%>'s Profile</h1>
  <% if signed_in? == @user.name %>
  <%= erb :search_bar %>
  <form name="input" action="/user/<%=@user.name%>/tweets/new" method="post">
    New Tweet: <input type="text" name="content" placeholder="Text here"><input type="submit" value="Post">
  </form>
  <% end %>
  <ol>

    <%@tweets.each do |tweet| %>
    <p><%=tweet.content%></p>
    <%= "------------------------"%>
    <% end %>
</div>
